p {
    /*color: blue;*/
    font-size: 20px;
    /*font-family: serif;*/
}

h1 {
    font-size: 40px;
}

/*h4{
	text-transform: uppercase;
}
*/
.uppercase.cursive { /* For class with multiple types */
    text-transform: uppercase;
    display: block;
}
.cursor.cursive{
    font-family: cursive;
}
ol li{
    display: inline-block;
}

