[submodule "Responsive-Web-Design-with-HTML5-and-CSS-Third-Edition"]
	path = Responsive-Web-Design-with-HTML5-and-CSS-Third-Edition
	url = https://github.com/PacktPublishing/Responsive-Web-Design-with-HTML5-and-CSS-Third-Edition
[submodule "FSRNL-40"]
	path = FSRNL-40
	url = https://github.com/hkshitesh/FSRNL-40
