[submodule "Responsive-Web-Design-with-HTML5-and-CSS-Third-Edition"]
	path = Responsive-Web-Design-with-HTML5-and-CSS-Third-Edition
	url = https://github.com/PacktPublishing/Responsive-Web-Design-with-HTML5-and-CSS-Third-Edition
[submodule "ic01-static-checking"]
	path = ic01-static-checking
	url = https://web.mit.edu/6.102/www/sp24/inclass/ic01-static-checking/.git
[submodule "ic02-testing"]
	path = ic02-testing
	url = https://web.mit.edu/6.102/www/sp24/inclass/ic02-testing/.git
[submodule "ic04-specs"]
	path = ic04-specs
	url = https://web.mit.edu/6.102/www/sp24/inclass/ic04-specs/.git
[submodule "ic05-designing-specs"]
	path = ic05-designing-specs
	url = https://web.mit.edu/6.102/www/sp24/inclass/ic05-designing-specs/.git
[submodule "ic06-adts"]
	path = ic06-adts
	url = https://web.mit.edu/6.102/www/sp24/inclass/ic06-adts/.git
[submodule "ic07-af-ri"]
	path = ic07-af-ri
	url = https://web.mit.edu/6.102/www/sp24/inclass/ic07-af-ri/.git
[submodule "ic08-interfaces-subtyping"]
	path = ic08-interfaces-subtyping
	url = https://web.mit.edu/6.102/www/sp24/inclass/ic08-interfaces-subtyping/.git
[submodule "ic09-functional"]
	path = ic09-functional
	url = https://web.mit.edu/6.102/www/sp24/inclass/ic09-functional/.git
[submodule "ic10-equality"]
	path = ic10-equality
	url = https://web.mit.edu/6.102/www/sp24/inclass/ic10-equality/.git
[submodule "ic11-recursive"]
	path = ic11-recursive
	url = https://web.mit.edu/6.102/www/sp24/inclass/ic11-recursive/.git
[submodule "ic12-intexpr"]
	path = ic12-intexpr
	url = https://web.mit.edu/6.102/www/sp24/inclass/ic12-intexpr/.git
