
.styled-first-letter::first-line{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
    background-color: lightgray;
    background-image: url(abc.png);
    background-repeat: no-repeat;
    ;
}


.styled-first-letter::before{
    content: '<h1>I hate css</h1>';

}